/* Colores */


/* 
=============== Paleta =================

1.- #04acd4 - rgb(4,172,212);
2.- #5ddcec - rgb(93,220,236);
3.- #78e4ec - rgb(120,228,236);
4.- #04b4cc - rgb(4,180,204);
5.- #04cbde - rgb(4,203,222);
*/


$primary: #04acd4;
$secondary: #5ddcec;
$tertiary: #78e4ec;
$quaternary: #04b4cc;
$quinary: #04cbde;